.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-current {
    background-color: var(--og50);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-finished {
    background-color: var(--og60);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-standby {
    background-color: var(--og20);
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.divider {
    width: 10px;
    border: none;
    border-bottom: 1px solid var(--og15);
}