.textarea {
    font-size: 14px;
    line-height: 20px;
    color: var(--gray90);
    font-weight: 600;
    resize: none;
    margin: 0 auto;
    width: calc(100% - 26px);
    padding: 16px 12px;
    background-color: var(--gray10);
    border-radius: 8px;
    border: 1px solid var(--gray20);
}

.textarea:disabled {
    background-color: transparent !important;
    opacity: 1;
    padding: 0;
    border: none !important;
}

.textarea::placeholder {
    color: var(--gray20);
    font-weight: 600;
    font-size: 14px;
}