.container {
    background-color: white;
    height: calc(100dvh - 53px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contents--wrapper {
    width: calc(100% - 40px);
    margin-top: 30px;
}

.button--wrapper {
    padding: 10px 0 12px 0;
    width: calc(100% - 40px);
}