.auth__wrapper {
    /*width: 100%;*/
    /*max-width: 480px;*/
    /*margin: auto;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    /*height: 100dvh;*/
    /*overflow-y: hidden;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    min-height: calc(100dvh - 53px);
    /*padding: 0 20px;*/
}

.loading-gif--wrap {
    /*height: 100dvh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.loading-gif {
    background-color: lightgray;
    width: 300px;
    height: 300px;
}

.auth-button--wrap {
    padding: 0 20px;
}