.auth__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    overflow-y: hidden;
    background-color: white;
}

.auth-button--wrap {
    padding: 0 20px;
    max-width: 440px;
    position: fixed;
    bottom: 44px;
    margin: 0 auto;
    width: 100%;
}