.wrapper {
    background-color: white;
    background-image:
            radial-gradient(at 0% 100%, hsla(50,100%,93%,1.00) 0px, transparent 50%),
            radial-gradient(at 0% 67.07155214284163%, hsla(52,100%,91%,1.00) 0px, transparent 50%),
            radial-gradient(at 0% 45.210023204643974%, hsla(41,100%,85%,1.00) 0px, transparent 50%),
            radial-gradient(at 26.782761414471892% 0%, hsla(38,100%,86%,1.00) 0px, transparent 50%),
            radial-gradient(at 100% 4.627966541166478%, hsla(47,100%,92%,1.00) 0px, transparent 50%),
            radial-gradient(at 100% 90.57461648421764%, hsla(41,100%,85%,1.00) 0px, transparent 50%);
    height: 100dvh;
    margin: 0 auto;
    max-width: 480px;
}
.slider--wrap {
    padding-top: 40px;
    height: calc((100dvh - 230px));
}

.bottom--wrap {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-bottom: 32px;
    align-items: center;
    height: 96px;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.toast--wrap {
    position: fixed;
    bottom: 107px;
}
.reselect-button {
    display: flex;
    flex-direction: row;
    width: 164px;
    height: 52px;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid var(--gray50);
    cursor: pointer;

    position: fixed;
    bottom: 36px;
}