.img-add--wrap {
    margin-top: 40px;
}
.img-add__button {
    border-radius: 12px;
    border: 1px dashed var(--gray50);
    width: 75px;
    height: 75px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    /*margin-bottom: 30px;*/
}
.img-add__images {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 11px;
    margin-bottom: 30px;
}
.img-add__uploaded {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}