.cp {
    cursor: pointer;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollbar {
    overflow-y: auto;
}

/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--gray60); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--gray30); /*스크롤바 뒷 배경 색상*/
}

.body--wrap {
    max-width: 480px;
    margin: 0 auto;
    width: auto;
    position: relative;
    box-shadow: 0 0 20px #0000000d;
    overflow-y: hidden;
    height: 100dvh;
}

.header--wrap {
    height: 54px;
}

.select-pages--wrap {
}

.select-middle--wrap {
    /*position: sticky;*/
    /*top: 53px;*/
}

.select-pages--button {
    padding: 10px 0 12px 0;
}

.select-pages--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100dvh;
    padding: 0 20px;
}

.toast--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1000;
}

.slick-active-template {
    background-color: white !important;
    border: 2px solid #FFCB3B !important;
}

.dots_custom {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*margin: auto 0;*/
    /*padding: 0;*/
    /*position: fixed;*/
    /*bottom: -20px !important;*/
}

.dots_custom li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
}

.dots_custom li button {
    border: none;
    background: var(--og20);
    color: transparent;
    cursor: pointer;
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    padding: 0;
}

.dots_custom li.slick-active button {
    background-color: var(--og60);
    width: 25px;
    height: 8px;
    border-radius: 22px;
}