.title-1 {
    font-size: 28px;
    line-height: 100%;
}
.title-2 {
    font-size: 24px;
    line-height: 140%;
}
.subtitle-1 {
    font-size: 20px;
    line-height: 140%;
}
.subtitle-2 {
    font-size: 18px;
    line-height: 140%;
}
.body-1 {
    font-size: 16px;
    line-height: 100%;
}
.body-2 {
    font-size: 14px;
    line-height: 100%;
}
.body-2-r {
    font-size: 14px;
    line-height: 140%;
}
.body-3 {
    font-size: 13px;
    line-height: 18px;
}
.body-3-r {
    font-size: 13px;
    line-height: 140%;
}
.label-1 {
    font-size: 12px;
    line-height: 100%;
}
.label-1-r {
    font-size: 12px;
    line-height: 140%;
}
.label-2 {
    font-size: 11px;
    line-height: 100%;
}
.weight-500 {
    font-weight: 500;
}
.weight-600 {
    font-weight: 600;
}
.weight-700 {
    font-weight: 700;
}
.weight-800 {
    font-weight: 800;
}
.og-70 {
    color: var(--og70);
}
.gr-100 {
    color: var(--gray100)
}
.gr-95 {
    color: var(--gray95)
}
.gr-90 {
    color: var(--gray90)
}
.gr-70 {
    color: var(--gray70)
}
.gr-50 {
    color: var(--gray50);
}
.ft-white {
    color: #fff;
}