:root {
  --background: #ffffff;
  --foreground: #171717;

  /* colors */
  --gray10: #FCFCFC;
  --gray20: #E6E6E6;
  --gray30: #C3C6CC;
  --gray40: #ABAFB7;
  --gray50: #8D8F95;
  --gray60: #727479;
  --gray70: #5B5B5C;
  --gray80: #434344;
  --gray90: #282929;
  --gray95: #0C0C0D;
  --gray100: #000000;

  --og5: #FFF9F2;
  --og10: #FFF1DF;
  --og15: #FFDDB2;
  --og20: #FFCA87;
  --og30: #FFB65A;
  --og35: #FFA636;
  --og40: #FF9E24;
  --og50: #FF8E00;
  --og60: #F70;
  --og70: #FF6200;
  --og80: #EF5C00;
  --og90: #C74C00;
  --og95: #883400;
  --og-gradient: linear-gradient(139deg, #FFAF2F 29.1%, #FFB76F 60.43%, #FFAC5E 94.86%);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ffffff;*/
/*  }*/
/*}*/

html,
body {
  max-width: 100vw;
  overflow: hidden;
  font-size: 13px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  color: var(--gray95);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.layout-wrapper {
  max-width: 480px;
  margin: 0 auto;
  width: auto;
  position: relative;
  min-height: 100vh;
  box-shadow: 0 0 20px #0000000d;
  overflow-y: hidden;
  background-image:
          radial-gradient(at 0% 100%, hsla(50,100%,93%,1.00) 0px, transparent 50%),
          radial-gradient(at 0% 67.07155214284163%, hsla(52,100%,91%,1.00) 0px, transparent 50%),
          radial-gradient(at 0% 45.210023204643974%, hsla(41,100%,85%,1.00) 0px, transparent 50%),
          radial-gradient(at 26.782761414471892% 0%, hsla(38,100%,86%,1.00) 0px, transparent 50%),
          radial-gradient(at 100% 4.627966541166478%, hsla(47,100%,92%,1.00) 0px, transparent 50%),
          radial-gradient(at 100% 90.57461648421764%, hsla(41,100%,85%,1.00) 0px, transparent 50%);
}
.layout-content {
  margin-top: 54px;
}

.cp {
  cursor: pointer;
}

.scrollbar {
  margin-top: 54px;
  overflow-y: auto;
}
/* 스크롤바의 폭 너비 */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--gray60); /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--gray30);  /*스크롤바 뒷 배경 색상*/
}