.mg-top-5 {
    margin-top: 5px;
}
.mg-top-9 {
    margin-top: 9px;
}
.mg-top-14 {
    margin-top: 14px;
}
.mg-top-20 {
    margin-top: 20px;
}
.mg-top-30 {
    margin-top: 30px;
}
.mg-top-40 {
    margin-top: 40px;
}

.mg-bottom-12 {
    margin-bottom: 12px;
}
.mg-bottom-40 {
    margin-bottom: 40px;
}

.mg-right-7 {
    margin-right: 7px;
}

.pd-right-20 {
    padding-right: 20px;
}