.main-container {
    height: calc(100vh - 56px);
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*flex-direction: column;*/

    /*background-color: #ffffff;*/
}
.main-contents {
    /*overflow-y: auto;*/
}
.wrapper {
    width: 100%;
    height: 74px;
    bottom: 0;
    z-index: 2;
    position: fixed;
    max-width: 480px;
    margin: 0 auto;
    /*transition: 1s ease-in-out;*/
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background: linear-gradient(83deg, #FF7543 8.78%, #FF8523 54.55%, #FFAF2F 92.55%);
}
.show {
    height: 100vh !important;
    transition: all 1s;
    z-index: 9999;
}
.template-wrap {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
}
.template {
    display: flex;
    height: 152px;
    margin: 0 20px;
    width: 100%;
    padding: 23px 16px 23px 20px;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #FFCB3B;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.60);
}
.template-icons__wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 38px;
}

.logo-area-wrap {
    margin: 0 20px 74px 20px;
    height: 320px;
}
.logo-area-text-wrap {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}