.overlay-show {
    position: fixed;
    height: 100dvh;
    transition-timing-function: ease-in;
    transition-property: height;
    background-color: white;

    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.overlay-hide {
    position: fixed;
    height: 0;
    transition-timing-function: ease-in;
    transition-property: height;

    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}




