.auth--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--og10);
    height: calc(100dvh - 153px);
    overflow-x: hidden;
    overflow-y: hidden;
}

.auth-header {
    background-color: var(--og10);
    height: 53px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    font-style: normal;
    font-weight: 600;
    color: var(--gray50);
    cursor: pointer;
}

.slider--wrap {
    margin-top: 30px;
    width: 100%;
    max-width: 480px;
    height: 100%;
    /*height: calc(100dvh - 153px) !important;*/
    /*position: fixed;*/
    /*top: 53px;*/
    /*bottom: 70px;*/
}

.auth-button--wrap {
    padding: 25px 20px 44px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 440px;
    background-color: var(--og10);
}