.template__list--wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    padding: 0 16px;
    gap: 9px;
    border-radius: 12px;
    background: #FFF;
    margin: 0 20px;
    min-height: 95px;
}
.template__contents {
    overflow: hidden;
    color: var(--gray90);
    text-overflow: ellipsis;
    line-height: 13px;
    font-weight: 600;
    white-space: nowrap;
    width: 100%;
}
.template__tag--wrap {
    display: flex;
    gap: 6px;
}