.templates--wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    height: calc(100dvh - 250px);
    overflow-y: auto;
}
/* 스크롤바의 폭 너비 */
.templates--wrap::-webkit-scrollbar {
    width: 8px;
}
.templates--wrap::-webkit-scrollbar-thumb {
    background: var(--gray60); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.templates--wrap::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--gray30);  /*스크롤바 뒷 배경 색상*/
}

.template__list--wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 0 16px;
    gap: 9px;
    border-radius: 12px;
    background: #FFF;
    margin: 0 20px;
    min-height: 95px;
}
.template__contents {
    overflow: hidden;
    color: var(--gray90);
    text-overflow: ellipsis;
    line-height: 13px;
    font-weight: 600;
    white-space: nowrap;
    width: 100%;
}
.template__tag--wrap {
    display: flex;
    gap: 6px;
}

.add-button--wrap {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.add-button {
    position: fixed;
    bottom: 40px;
    cursor: pointer;
    z-index: 1;
}

.empty-container {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.login-button {
    border-radius: 36px;
    background: var(--og60);
    height: 46px;
    width: 200px;
    border: none;
    color: var(--gray10);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}
.login-button:hover {
    background-color: var(--og60) !important;
}

.rt--container {
    margin-top: 17px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100dvh - 210px);
    overflow-y: auto;
}

.rt-list-card {
    background-color: white;
    padding: 16px 17px;
    border-radius: 12px;
    margin-bottom: 14px;
}

.rt-list-card--top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    align-items: center;
}