.wrapper {
    height: 100dvh;
    margin-top: 53px;
    background-color: white;
}
.text--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 34px;
}
.text--wrap > span {
    white-space: pre;
}
.loading-gif--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}