.wrapper {
    background-color: var(--og5);
    height: 100dvh;
}

.container {
    padding: 25px 25px 25px 25px;
}

.tags-area--wrap {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.tags-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.tags--wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.edit-tag__button {
    display: flex;
    padding: 0 6px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--gray20);
    height: 20px;
    color: var(--gray80);
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    outline: none;
    border: none;
}

.hamburger-menu--wrap {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.hamburger-menu--container {
    position: fixed;
    float: unset;
    border-radius: 8px;
    background: white;
    width: 128px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.hamburger-tab {
    display: flex;
    gap: 4px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8px;
    height: 42px;
}

.hamburger--wrap > hr {
    border-width: 1px 0 0 0;
    border-color: #f9f9f9;
    width: 100%;
}

.text--wrapper {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    overflow-y: auto;
    width: 100%;
}

.text--wrapper::-webkit-scrollbar {
    display: none;
}

.text--wrapper::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.text--wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.text--wrapper > span:last-child {
    margin-right: 40px;
}

.paste-button--wrapper {
    display: flex;
    justify-content: flex-end;
}

.paste-button {
    border-radius: 100px;
    background: var(--og15);
    display: flex;
    width: 90px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--og70);
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}

.toast--wrap {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 36px;
    right: 0;
    left: 0;
}

.save-edit__button {
    position: fixed;
    bottom: 12px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 440px;
    padding: 0 20px;
}