.wrapper {
    background-color: var(--og5);
    height: 100dvh;
}

.container {
    padding: 54px 25px 25px 25px;
}

.tags-area {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.tags--wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.edit-button {
    border-radius: 4px;
    background: var(--gray10);
    color: var(--gray50);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 6px;
    font-size: 11px;
}

.text--wrapper {
    height: 300px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    overflow-y: auto;
}
.text--wrapper::-webkit-scrollbar {
    display: none;
}
.text--wrapper::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}
.text--wrapper::-webkit-scrollbar-track {
    background: transparent;
}
.text--wrapper > span:last-child {
    margin-right: 40px;
}

.paste-button--wrapper {
    display: flex;
    justify-content: flex-end;
}
.paste-button {
    border-radius: 100px;
    background: var(--og15);
    display: flex;
    width: 90px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--og70);
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}
.toast--wrap {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 36px;
    right: 0;
    left: 0;
}