.container {
    margin-top: 54px;
    background-color: white;
}
.wrapper {
    background-color: white;
    height: 100dvh;
}
.profile-section {
    display: flex;
    align-items: center;
    padding: 26px 17px 0 17px;
    overflow: hidden;
}

.profile-image {
    border-radius: 50%;
    margin-right: 20px;
    background-color: #D9D9D9;
    width: 48px;
    height: 48px;
}

.profile-button--wrap {
    padding: 0 20px;
    max-width: 440px;
    position: fixed;
    bottom: 44px;
    margin: 0 auto;
    right: 0;
    left: 0;
}