.wrapper {
    height: 100dvh;
    margin-top: 53px;
}
.text--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 34px;
}
.loading-gif--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    width: 100%;
}