.page-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}
.bottom-button--wrap {
    padding: 10px 20px 12px 20px;
}

/* 메인페이지 하단 제안받기 버튼*/
.btn-state__wrap {
    padding: 4px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.btn-state__text__wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}