.select-if--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 100%;
    padding: 0 20px;
}

.select-if__title--wrap {
    padding-top: 12px;
    margin-bottom: 18px;
}
.select-if__info--wrap {
    display: flex;
    gap: 4px;
    align-items: center;
    height: 42px;
    border-radius: 40px;
    padding: 0 14px;
    cursor: pointer;
    z-index: 9999;
    background: linear-gradient(83deg, #FF7543 8.78%, #FF8523 54.55%, #FFAF2F 92.55%);
}
.select-if__card--wrap {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 60px;
}
.select-if_card {
    border-radius: 12px;
    border: 1px solid var(--og20);
    background: var(--og5);
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.select-if_card--active {
    border-width: 2px;
    border-color: var(--og60) !important;
}
.select-if__card--text {
    color: var(--gray70);
    font-weight: 600;
    margin-top: 40px;
}

.select-if__please--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    color: var(--gray100);
    margin-top: 20px;
}
.select-if__please {
    border-radius: 100px;
    background: var(--og10);
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 80px;
    color: var(--gray100);
}

.overlay-show {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: fixed;
    height: 100dvh;
    transition-timing-function: linear;
    transition-property: height;
    background-color: white;
    max-width: 480px;

    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.overlay-hide {
    position: fixed;
    height: 0;
    transition-timing-function: linear;
    transition-property: height;

    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
