.page-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 53px;
    background-color: white;
    /* TODO 웹 환경만 여백 크게 남는 이슈 확인 */
}
.bottom-button--wrap {
    position: fixed;
    max-width: 480px;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px 12px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

/* 메인페이지 하단 제안받기 버튼*/
.btn-state__wrap {
    padding: 4px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.btn-state__text__wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}