.slider-container {
    /*padding: 25px 0 17px 20px;*/
}
.active {
    border-radius: 12px;
    border: 2px solid #FFCB3B;
    background-color: white !important;
}

.slide-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100dvh - 300px);
    margin-right: 14px;
    width: 290px;
    padding: 25px 0 17px 20px;
    border-radius: 12px;
    background-color: var(--og15);
    color: var(--gray90);
    font-size: 14px;
    font-weight: 600;
}
.slide-contents {
    margin-top: 25px;
    width: 100%;
    height: 100%;
}

.buttons--wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    margin: 10px 20px 0 0;
}
.button--save-as-template {
    border-radius: 31px;
    background: var(--og40);
    color: white;
    display: flex;
    height: 32px;
    padding: 5px 10px 5px 5px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

@media (max-width: 478px) {
    .slides::-webkit-scrollbar {
        display: none;
    }
    .slides::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 10px;
    }
    .slides::-webkit-scrollbar-track {
        background: transparent;
    }
}