.wrapper {
    background-color: var(--og10);
    width: calc(100dvw);
    max-width: 480px;
}

.container {
    background-color: var(--og10);
    padding: 0 20px;
}

.image--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}